.conteiner {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    background-color: #DDEAF8;
}

/* header */
header {
    width: 100%;
    background-color: #FFFFFF;
    padding: 62px 98px 61px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 50px;
}

.active {
    color: #27187F;

}

.noactive {
    color: #758BFD;

}

/* section */
section {
    width: 90%;
    margin: 94px auto 135px auto;


}

h1 {
    color: #27187F;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 68px;

}

.cards {

    width: 100%;
    height: 717px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card {
    width: 30%;
    height: 333px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 33px;
}

.card_img {
    width: 90%;
    height: 188px;

}

.card_text {
    width: 90%;
    font-size: 20px;
    font-weight: 400;
    color: #133B3A;
}

/* footer */
footer {
    width: 100%;
    height: 100vh;
    height: 504px;
    background-color: #758BFD;
    color: #221e1e;
    padding: 75px 98px 227px 98px;
    display: flex;
    justify-content: space-between;

 }

.footer1{
    display: flex;
    flex-direction: column;
    gap: 17px;
   
}
.footer_icon{
    color: #FFFFFF;
    font-size: 21px;
    display: flex;
    gap: 24px;
   
}


h4{
    color: #00CAD7;
    font-size: 20px;
    font-weight: 400;
}

h3{
    color: #00CAD7;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 21px;
   

}
.footer_text{
    color: #FFFFFF;
    font-size: 13px;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
   
}

